parameters:
    bootstrapFiles:
        - tests/bootstrap.php

    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV

    level: 5

    paths:
        - src

    scanFiles:
        - vendor/yiisoft/yii2/Yii.php

    excludePaths:
        - vendor
