includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    bootstrapFiles:
        - tests/bootstrap.php

    level: max

    paths:
        - src

    tmpDir: %currentWorkingDirectory%/tests/runtime

    yii2:
        config_path: %currentWorkingDirectory%/tests/phpstan-config.php

    # Enable strict advanced checks
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
